@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Gaegu&display=swap');

/*base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gaegu", sans-serif;
}
/*body*/
body{
    background-color: #b0b58a;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}
/*form*/
.form-container{
    display: flex;
    width: 500px;
    height: 600px;
    border: 3px solid rgba(0, 0, 0);
    border-radius: 9vh;
    overflow: hidden;
}
/*second column*/
.col-2{
    position: relative;
    width: 100%;
    padding: 20px;
    background: url("assets/paper.png");
    background-size: 100%;
    border-radius: 9vh;
    overflow: hidden;
}

.fa-eye{
    cursor: pointer;
}

/*login form*/
.login-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 4vw;
    transition: .3s;
}

.form-title{
    margin: 35px 0;
    color: black;
    font-size: 28px;
    justify-content: center;
}
.form-inputs{
    width: 100%;
}
.input-box{
    position: relative;
}

.input-box a{
    text-decoration: none;
}
::placeholder{
    color: #6B705C;
    font-size: 16px;
}
.input-field{
    width: 100%;
    height: 50px;
    padding: 0 14px;
    margin: 3px 0;
    background-color: #b0b58a;
    color: black;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;

}
.input-box .icon{
    position: absolute;
    top: 35%;
    right: 15px;
    transform: translate(-40%);
    color: black;
}
.login-return{
    display: flex;
    justify-content: right;
    margin: 5px;
    gap: 10px;
}
.login-return a{
    color: #2a3828;
    text-decoration: none;
    font-size: 14px;
}
.login-return a:hover{
    text-decoration: underline;
}
.input-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 55px;
    padding: 0 15px;
    margin: 15px 0;
    color: black;
    font-size: 15px;
    background: #b0b58a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.input-submit:hover{
    gap: 15px
}

/*responsive*/
@media (max-width: 892px){
    .form-container{
        width: 400px;
    }
    .col-2{
        width: 100%;
    }
}

