@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Gaegu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gaegu", sans-serif;
}

.App {
  text-align: center;
  background-color: #b0b58a;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
}